<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>All Simulation Records:</h1>
<table>
    <thead>
    <tr>
        <th> Simulation Id </th>
        <th> PIC Licence </th>
        <th> Accident Severity </th>
        <th> Update Simulation </th>
        <th> Delete Simulation </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="simulationDTO : ${kevCollection}">
        <td><span th:text="${simulationDTO.getSimulationId()}"> Simulation Id </span></td>
        <td><span th:text="${simulationDTO.getPicLicence()}"> PIC Licence </span></td>
        <td><span th:text="${simulationDTO.getAccidentSeverity()}"> Accident Severity </span></td>
        <td><a class="btn-severity" href="update" target="_self">Update</a></td>
        <td><a th:value="${simulationDTO.getSimulationId()}" value="id" class="btn-severity" href="delete/{id}" target="_self">Delete</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>