<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select Prediction Type</title>
</head>
<body>
<h1>Select Prediction Type:</h1>
<div class="button-container">
  <a class="btn-severity" href="run8" target="blank">Accident Severity</a>
</div>
<div class="button-container">
  <a class="btn-severity" href="run9" target="blank">Injury Severity</a>
</div>
<h1>View Previous Simulation Records:</h1>
<div class="button-container">
  <a class="btn-severity" href="all" target="blank">View All</a>
</div>


</body>
</html>